  </div>
  <footer id="footer" class="footer mt-3">
    <div class="container">
      <p class="text-muted">&copy; TravelDestinations 2020 | <a href="/destinations">Home</a> |</a></p>
    </div>
  </footer> 
</div>
</body>
</html>
