<%- include ('partials/header.ejs'); -%>

<div class="container mt-5" style="width: 50%; margin: auto;">
    <h2 style="text-align: center;">New User Registeration Form</h2>
    <div class="mb-2 pt-4">
        <form action="/register" method="POST">
            <div class="form-group">
              <label for="username">User Name</label>
              <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
            <button type="submit" class="btn btn-dark btn-block">Register</button>
          </form>
    </div>
</div>

<%- include ('partials/footer.ejs'); -%>