.item-inline{
    display: inline;
}

#map{
    height: 400px;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}